@import '../../global.scss';

.home-sec{
  @include container;
  @include flex();
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 100px;
  overflow-x: hidden;
  @include tablet{
    flex-direction: column;
    margin-top: 7rem;
  }
  .left{
    flex: 2;
    color: $color-dark;
    h1{
      font-size: 3rem;
      @include font-play-fair;
      font-weight: 700;
      color: $color-blue;
      line-height: 45px;
      margin-bottom: 1.5rem;
      @include tablet{
        font-size: 2.5rem;
      }
    }
    p{
      margin-bottom: 2rem;
      color: gray;

    }
    .home-btn{
      background-color: $color-blue;
      padding: 10px 40px;
      border-radius: 50px;
      // font-weight: bold;
      // text-transform: uppercase;
      font-size: 1.1rem;
      position: relative;
      overflow: hidden;
      z-index: 10;
      color: #fff;
      text-decoration: none;
      transition: .5s;
      &:hover{
        background-color: $color-dark-blue;
      }
    }
  }
  .right{
    flex: 1;
    img{
      width: 500px;
      @include tablet{
        width: 350px;
        margin-top: -4rem;
      }
    }
  }
}