@import '../../global.scss';

.review-main{
  background-image: url('/reviewbg.jpg');
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 6rem;
  overflow-x: hidden;
  @include mobile {
    margin-bottom: 3rem;
  }
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff8e;
  }
  .review{
  @include container;
  @include flex();
  flex-direction: column;
  padding-bottom: 4rem;
  h1{
    margin-bottom: 2rem;
    margin-top: 3rem;
    @include font-play-fair;
    font-size: 2.2rem;
    color: $color-dark-blue;
  }
  .slider{
    max-width: 700px;
    @include mobile {
      max-width: 350px;
      
    }
  }
}
}