@import '../../global.scss';

.welcome-sec {
  background-color: $color-light-gray;
  overflow: hidden;
  .wrapper {
    @include container;
    @include flex();
    padding: 6rem 1rem;
    flex-direction: column;
    @include mobile {
      padding: 4rem 1rem;
      text-align: center;
    }
    h1 {
      margin-bottom: 1.5rem;
      @include font-play-fair;
      font-size: 2.5rem;
      color: $color-dark-blue;
      text-align: center;
      @include mobile {
        font-size: 2rem;

      }
    }
    span {
      margin-bottom: 1.5rem;
      text-transform: uppercase;
    }
    hr {
      width: 50%;
      height: 3px;
      background-color: $color-dark;
      opacity: 0.5;
      margin-bottom: 1.5rem;
    }
    p {
      text-align: center;
      color: gray;
    }
  }
}
