@import '../global.scss';

.blog-page{
  .intro{
    padding: 0 1rem;
    height: 250px;
    @include flex();
    flex-direction: column;
    .blogBg{
      position: absolute;
      width: 100%;
      height: 250px;
      z-index: -1;
      // &::before{
      //   content: '';
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   background-color: #00000067;
      //   width: 100%;
      //   height: 100%;
      // }
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    h1{
      text-align: center;
      margin-bottom: 1.5rem;
      // @include font-play-fair;
      font-size: 3rem;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include mobile {
        margin-top: 3.8rem;
        font-size: 2.1rem;
      }
      hr{
        width: 200px;
        margin-top: .5rem;
        height: 2px;
        background-color: $color-yellow;
      }
    }
    P{
      color: #fff;
      max-width: 600px;
      @include mobile {
        text-align: center;
        font-size: 13px;
      }
    }
  }
  .container{
    max-width: 1000px;
    margin: 3.5rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 30px;
    // column-gap:30px;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}