@import '../global.scss';

.blog-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-light-gray;
  padding-bottom: 3rem;
  position: relative;
  overflow: hidden;
  h1 {
    padding-top: 4rem;
    padding-bottom: 3rem;
    @include font-play-fair;
    color: $color-dark-blue;
  }
  .blog-data {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    @include mobile {
      column-gap: 10px;
      row-gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      grid-row: 1/3;
    }
  }
  .more-blog-btn {
    @include flex();
    gap: 5px;
    color: $color-blue;
    font-weight: bold;
    font-size: 16px;
    margin-top: 2rem;
    @include mobile {
      position: absolute;
      right: 4rem;
      bottom: 8.5rem;
    }
  }
}
