@import '../global.scss';

.job-page {
  .top {
    height: 350px;
    .jobbg {
      position: absolute;
      width: 100%;
      height: 350px;
      z-index: -1;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: #00000067;
        width: 100%;
        height: 100%;
      }
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .intro {
      height: 100%;
      color: #fff;
      @include flex();
      flex-direction: column;
      h1 {
        font-size: 4rem;
        @include mobile {
          font-size: 3rem;
          margin-top: 3rem;
        }
      }
      p {
        max-width: 600px;
        text-align: center;
      }
    }
  }
  .bottom {
    padding-top: 1rem;
    // background-color: $color-light-gray;
    h1 {
      text-align: center;
      margin-top: 3rem;
      color: $color-dark-blue;
      font-size: 2.4rem;
      @include flex();
      flex-direction: column;
      hr{
          width: 100px;
          margin-top: .5rem;
          height: 3px;
          background-color: gray;
      }
    }
    .wrapper {
        @include container;
        @include flex();
        padding: 3rem 0;
        flex-direction: column;
        gap: 40px;
        cursor: pointer;
    }
  }
}
