@import '../global.scss';

.practice {
  .wrapper {
    @include container;
    .h1 {
      margin: 0 auto;
      font-weight: bold;
      text-align: center;
      padding-top: 5rem;
      padding-bottom: 3rem;
      max-width: 500px;
      @include mobile {
        padding-top: 8rem;
      }
      color: $color-dark-blue;
      @include font-play-fair;
      font-size: 3rem;
      @include mobile {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 1rem;
      }
    }
  }
}
