@import '../global.scss';

.news-single {
  margin-top: 7rem;
  margin-bottom: 3rem;
  .wrapper {
    background-color: $color-light;
    max-width: 900px;
    margin: 0 auto;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    @include mobile {
      max-width: 350px;
      padding: 2rem;
    }
    .news-title {
      margin-bottom: 1rem;
      color: $color-dark-blue;
      text-overflow: hidde;
      font-size: 1.2rem;
      hr {
        max-width: 500px;
        margin-top: 5px;
        height: 2px;
        border: none;
        background-color: $color-yellow;
      }
    }
    .info {
      display: flex;
      gap: 20px;
      margin-bottom: 2rem;
      @include mobile {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
      }
      .time{
        @include flex();
        gap: 5px;
      }
    }
    .text {
     
    }
    .back-arrow {
      margin-top: 2.5rem;
      font-size: 17px;
      @include flex(center, start);
      text-decoration: none;
      gap: 5px;
      color: $color-blue;
    }
  }
}
