@import '../global.scss';

.team-page{
  @include container;
  @include flex();
  flex-direction: column;
  padding: 4rem 0;
  span{
    font-size: 18px;
    color: gray
  }
  h1{
    @include font-play-fair;
    font-size: 2.5rem;
    color: $color-dark-blue;
  }
  .wrapper{
    max-width: 1200px;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 3rem;
    row-gap: 2rem;
    @include mobile {
      column-gap: 1rem;
    }
    @include tablet{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}