@import '../../global.scss';

.nav-main {
  background-color: #fff;
  .nav {
    @include container;
    color: $color-dark;
    z-index: 999;
    padding: 10px 1rem;
    @include tablet {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      box-shadow: 0px 1px 5px #00000021;
      background-color: #fff;
    }
    &-up {
      @include flex(center, flex-end);
      gap: 40px;
      @include tablet {
        display: none;
      }
      .nav-call {
        @include flex();
        gap: 8px;
      }
      .nav-mail {
        @include flex();
        gap: 8px;
      }
    }
    &-down {
      @include flex(center, space-between);
      .nav-logo {
        img {
          width: 250px;
        }
        @include tablet {
          img {
            width: 180px;
          }
          margin-top: 10px;
          margin-bottom: 0.5rem;
        }
      }
      ul {
        @include flex();
        gap: 30px;
        font-weight: 500;
        font-size: 1rem;
        transition: 0.5s ease;
        z-index: 99;
        text-transform: uppercase;
        @include tablet {
          flex-direction: column;
          position: fixed;
          padding: 2rem;
          top: 0;
          right: 0;
          width: 50%;
          height: 100%;
          transform: translateX(600px);
          background-color: #fff;
          box-shadow: 0px 1px 5px #00000021;
        }
        .link {
          @include tablet {
            width: 100%;
            border-bottom: 2px solid rgba(128, 128, 128, 0.219);
          }
          &.active {
            border-bottom: 2px solid $color-dark;
          }
        }
      }
    }
  }
}

.nav-btn {
  display: none;
  z-index: 99;
  cursor: pointer;
  &-line {
    width: 32px;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span {
      width: 100%;
      height: 3px;
      background-color: $color-dark;
      transform-origin: left;
      transition: 0.5s ease;
    }
    &.active {
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
  @include tablet {
    display: block;
  }
}
