@import '../../global.scss';

.footer-main{
  background-color: $color-dark-blue;
  padding: 20px;
  .footer {
    @include container;
    @include flex();
    flex-direction: column;
    padding: 2rem 1rem;
    &-top{
      @include flex();
      align-items: flex-start;
      gap: 60px;
      color: #ffffffd8;
      @include mobile {
        flex-direction: column;
        align-items: start;
        gap: 30px;
      }
      .footer-info{
        flex: 1;
        img{
          width: 280px;
          margin-bottom: 1rem;
        }
        p{}
      }
      .footer-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        gap: 5px;
        @include mobile {
          align-items: flex-start;
        }
        .h1{
          margin-bottom: 1rem;
          @include font-play-fair;
          font-size: 28px;
          @include mobile {
            margin-bottom: .5rem;
          }
        }
        .footer-link{
          text-decoration: none;
          color: #fff;
          @include flex(center, start);
        }
      }
      .footer-contact{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        b{
          color: $color-yellow;
        }
        .contact-h1{
          margin-bottom: 1rem;
          @include font-play-fair;
          font-size: 28px;
          @include mobile {
            margin-bottom: .5rem;
          }
        }
        p{}
        span{}
      }
    }
    &-bottom{
      color: #fff;
      margin-top: 2rem;
      @include tablet{
        padding: 0 0;
        text-align: center;
      }
    }
    hr{
      width: 100%;
      margin-top: 6rem;
      border: 1px solid #ffffff31;
      @include mobile {
        margin-top: 3rem;
      }
    }
  }
}