@import '../../global.scss';

.news {
  // flex-direction: column;
  // justify-content: space-between;
  // width: 300px;
  // height: 320px;
  display: flex;
  align-items: center;
  gap: 50px;
  // padding-bottom: 10px;
  // border: .5px solid rgb(218, 216, 216);
  text-decoration: none;
  // color: inherit;
  // background-color: $color-light;
  @include tablet {
    gap: 1rem;
  }
  .blog-img {
    overflow: hidden;
    img {
      transition: .5s ease;
      // width: 100%;
      height: 70px;
      object-fit: cover;
      @include tablet {
        // height: 50px;
      }
      @include mobile {
        // height: 50px;
      }
      &:hover {
        transform: scale(1.1);
        filter: hue-rotate(20deg);
      }
    }
  }
  .title {
    font-size: 1.8rem;
    text-align: center;
    @include font-play-fair;
    font-weight: bold;
    // max-width: 300px;
    // color: blue;
    @include tablet {
      font-size: 1.3rem;
      padding: 5px 20px;
    }
    @include mobile {
      text-align: start;
      font-size: 1.3rem;
      padding: 5px 5px;
    }
  }
  .date-btn {
    @include flex();
    gap: 15px;
    .date {
      color: gray;
      font-size: 13px;
      @include mobile {
        font-size: 10px;
      }
    }
    .more-btn {
      @include flex();
      gap: 5px;
      // color: $color-blue;
      font-weight: bold;
      font-size: 14px;
      @include mobile {
        font-size: 11px;
      }
    }
  }
  
}
